html {
  font-size: 62.5%;
}
html,
body {
  width: 100%;
  height: 100%;
}
body {
  margin: 0;
  background: #ccc;
  text-align: center;
  background: -webkit-linear-gradient(top, #8a807c, #483c32);
  background: linear-gradient(to bottom, #8a807c, #483c32);
  font: 1rem Monaco, "Helvetica Neue", Helvetica, sans-serif;
  color: #261a10;
}
.wrapper {
  display: inline-block;
  vertical-align: middle;
}
.wrapper table.field {
  -webkit-transform: perspective(450px) rotateX(30deg);
          transform: perspective(450px) rotateX(30deg);
}
.wrapper table.field td {
  border: 0.1rem solid rgba(255,255,255,0.3);
  width: 8rem;
  height: 8rem;
  font-size: 4rem;
  text-transform: lowercase;
  cursor: pointer;
}
.wrapper table.field td.disabled {
  cursor: default;
  background: #7d736f;
  opacity: 0.5;
}
.current {
  font-size: 2rem;
  line-height: 4rem;
}
.current__text {
  font-size: 3rem;
}
.helper {
  display: inline-block;
  vertical-align: middle;
  height: 100%;
  width: 0;
}
